@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-orange: #ff9100;
  --sub-orange: #ff6200;
}

@theme inline {
  --color-background: var(--background);
  --color-main-orange: var(--main-orange);
  --color-sub-orange: var(--sub-orange);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background: #000;
}

body {
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

@keyframes orangeReflex {
  0% {
    background-position: -200% 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes pulseOrange {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px var(--main-orange);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-orange);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px var(--main-orange);
  }
}
@keyframes orangeFloat {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(100px, -80px) scale(1.1);
  }
  50% {
    transform: translate(-300px, 70px) scale(0.9);
  }
  75% {
    transform: translate(400px, 20px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes iconMove1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(10px, -8px) scale(1.05);
  }
  50% {
    transform: translate(-30px, 7px) scale(0.9);
  }
  75% {
    transform: translate(40px, 2px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes iconMove2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(-10px, 8px) scale(1.05);
  }
  50% {
    transform: translate(30px, -7px) scale(0.9);
  }
  75% {
    transform: translate(-40px, -2px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes iconMove3 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(8px, 8px) scale(1.05);
  }
  50% {
    transform: translate(10px, 4px) scale(0.9);
  }
  75% {
    transform: translate(20px, 2px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes iconMove4 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(5px, -3px) scale(1.05);
  }
  50% {
    transform: translate(-15px, 3px) scale(0.9);
  }
  75% {
    transform: translate(-10px, 4px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
}

@layer utilities {
  .fade-bottom {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 95%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  .bg-orange-reflex {
    background: linear-gradient(
      120deg,
      var(--main-orange),
      var(--sub-orange),
      #ff0000,
      var(--sub-orange),
      var(--main-orange)
    );
    background-size: 300% 300%;
    animation: orangeReflex 5s ease-in-out infinite;
  }
  .text-orange-reflex {
    background: linear-gradient(
      120deg,
      var(--main-orange),
      var(--sub-orange),
      #ff0000,
      var(--sub-orange),
      var(--main-orange)
    );
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: orangeReflex 10s ease-in-out infinite;
  }
  .animate-pulse-orange {
    animation: pulseOrange 3s ease-in-out infinite;
  }

  .animate-orange-float {
    animation: orangeFloat 10s ease-in-out infinite alternate;
  }
  .animate-icon-move-1 {
    animation: iconMove1 30s ease-in-out infinite alternate;
  }
  .animate-icon-move-2 {
    animation: iconMove2 30s ease-in-out infinite alternate;
  }
  .animate-icon-move-3 {
    animation: iconMove3 30s ease-in-out infinite alternate;
  }
  .animate-icon-move-4 {
    animation: iconMove4 30s ease-in-out infinite alternate;
  }

  .animate-up-and-down {
    animation: upAndDown 3s ease-in-out infinite alternate;
  }

  .bg-orange-overlay {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .bg-orange-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, #5a514c, #825d51);
    opacity: 0.7;
    z-index: -1;
  }

  .orange-ball {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(
      circle,
      rgba(255, 145, 0, 0.6),
      rgba(255, 98, 0, 0.1)
    );
    border-radius: 9999px;
    filter: blur(100px);
    mix-blend-mode: screen;
    animation: orangeFloat 30s ease-in-out infinite alternate;
    z-index: -1;
  }
}
